.team {
  padding: 32px 20px;
  width: 100%;
  position: relative;

  .input-color {
    position: absolute;
    top: 20px;
    right: 40px;

    display: flex;
    flex-direction: column;
    label {
      cursor: pointer;
      padding: 5px 15px;

      display: flex;
      flex-direction: column;
      input {
        position: absolute;
        visibility: hidden;
      }
      p {
        margin: 0 auto;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  .team-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}
